.prod_date span{
    font-size: 1.6rem;
    color: #62B6ED;
}
.margin20{
    margin-bottom: 20px;
}
.custm-div{
    color: #007BB7;
}
.custm-div-orange{
    color: #DF2219;
}

.cst-top{
    margin-top: 50px;
}